table {
    width: 400px;
    /*border-spacing: 40px;*/
}


caption{
    text-align: center;
    color: black;
}
th {
    text-align: left;
}

table, th, td {
    border: 1px solid #000;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
}

tr:nth-child(even){
    background-color: blueviolet;
}
tr:nth-child(odd){
    background-color: rgb(111, 216, 180);
}